<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category: {{ currentCategoryName }}</h4>
    <hr />
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products -->
        @for (currProduct of products; track $index) {
        <div class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ currProduct.id }}">
              <img src="{{ currProduct.imageUrl }}" class="img-responsive" />
            </a>

            <a routerLink="/products/{{ currProduct.id }}">
              <h1>{{ currProduct.name }}</h1>
            </a>

            <div class="price">
              {{ currProduct.unitPrice | currency:'USD' }}
            </div>

            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
        }

        <!-- if products empty then display a message -->
        @if (products.length == 0) {
        <div class="alert alert-warning col-md-12" role="alert">
          No products found.
        </div>
        }
      </div>

      <!-- begin footer -->

      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-3"></div>

          <div class="col-md-9">
            <div class="row">
              <div class="col-md-9" style="padding-left: 3%;">

                <ngb-pagination
                  [(page)]="pageNumber"
                  [pageSize]="pageSize"
                  [collectionSize]="totalElements"
                  [maxSize]="5"
                  [boundaryLinks]="true"
                  (pageChange)="listProducts()"
                >
                </ngb-pagination>                
              </div>

              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="me-1">Page Size</span>

                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                  <option selected>5</option>
                  <option>2</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end footer -->

    </div>
  </div>
</div>
